.carousel-item {
    background-color: beige;
}

.img-carousel {
    margin-left: 35%;
    border-radius: 100%;
    width: 70%;
    padding: 7%;
}

.carousel-control-prev, .carousel-control-next {
    filter:invert(100%);
}

h1 {
    font-family: 'Tillana', serif;
    text-align: center;
}

h2 {
    font-family: 'Crimson Pro', serif;
    font-size: 2rem;
}

p {
    font-family: 'Crimson Pro', serif;
    font-size: 1rem;
}

.div-texto {
    margin: 10% auto;
    padding-right: 20%;
}

/* Media Query */

@media (max-width: 990px) {
    .col-lg-5 {
        text-align: center;
    }
    .img-carousel {
        margin: 0 auto;
    }
    h2 {
        text-align: center;
    }
    .div-texto {
        margin-left: 20%;
    }
}