.carousel-item {
    background-color: beige;
}

.img-carousel {
    margin-left: 15%;
    border-radius: 100%;
    width: 70%;
    padding: 7%;
}

.carousel-control-prev, .carousel-control-next {
    filter:invert(100%);
}

h1 {
    font-family: 'Tillana', serif;
    text-align: center;
    color: #964B00;
}

h2 {
    font-family: 'Crimson Pro', serif;
    text-align: center;
    font-size: 3rem;
}

p {
    font-family: 'Crimson Pro', serif;
    font-size: 2rem;
}

.div-texto {
    margin: 5% 3%;
}

